<div class="well">


  <div class="row">
    <div class="col-xs-8">
    <p><strong>
        Image:<%= image_tag part.image.thumb.url %>
      </strong></p>
      <h4><%= part.name %></small></h4>
    </div>
    <div class="col-xs-4">

      <%= form_for part  do |f| %>
      <%if part.discount?%>
      <h4 class="text-right">Discount! <%= part.discount%>%<br>Unit Price: <span style="color: green"><%= number_to_currency part.apply_discount %>
      </span></h4><%end%>
      <%unless part.discount?%><h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency part.price %></span></h4>
      <%end%>
        <div class="input-group">
            <%= f.hidden_field :part_id, value: part.id %>
          </div>
        </div>
      <% end %>

      <% if logged_in? && current_user.admin?%>
      <%= link_to "edit part", edit_part_path(id: part.id)%>
      <%= link_to 'delete', part_path(part), data: {confirm: "Are you sure you wish to delete the part '#{part.name}'?"},method: 'DELETE' %><br>
      <%end%>
    </div>

  </div>
</div>
