<h1> Editing part</h1>
<%= form_for @part do |f|%>

<%= f.label :name%>
<%= f.text_field :name%><br>

<%= f.label :description%>
<%= f.text_field :description%><br>

<%= f.label :discount%>
<%= f.number_field :discount%>%<br>

<%= f.label :price %>
<%= f.text_field :price%>

<%= f.select :category, Category.all.map {|c| [c.name]}, :prompt => @part.category%>
<div class="field">
  <%= f.label :image %><br>
  <%= f.file_field :image %>
  <% if f.object.image? %>
     <%= image_tag f.object.image.thumb.url %>
     <%= f.label :remove_image %>
     <%= f.check_box :remove_image %>
   <% end %>
</div><br>
<%=f.submit%>

<%end%>
