<nav class="navbar navbar-default">

<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <%= form_tag parts_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search", :name => nil%>
    <%end%>
  </div>
</form>
</nav>


<h3 class="text-center">Parts for Sale</h3>

    <% @parts.sort_by(&:name).each do |part|%>
    <div class="row">
      <div align="center">
    <a href="/parts/<%=part.id%>"><%= image_tag part.avatar.url(:square)%><%= part.name%></a>
    <%if part.discount?%>
    Discount! <%= part.discount%>
    <%end%>
    <%= number_to_currency(part.price)%>
    <%= button_to 'Add to Cart', line_items_path(part_id: part),
        remote: true%><br>
      </div>
  </div>
<%end%>
