  <%= render "part_row", part: @part, order_item: @order_item %>

  <div class="well">
  <div class="row">

    <div id="fb-root"></div>



      <div align="center">
    <h3>Description:</h3>
    <h4><%= @part.description%></h4>
    </div>



          <div align="right">
                <%= button_to 'Add to Cart', line_items_path(part_id: @part),
                      remote: true, class: "btn btn-primary" %>
                    </div>
        <%= form_for [@part, Comment.new], remote: true do |f|%>
        <div>
          <%= f.text_area :content %>
          <%= f.submit "Post Comment"%>
        </div>
        <%end%>

        <ul class="comments">
          <%= render @part.comments%>
        </ul>
    </div>
  </div>
</div>
