<br> <h1>New parts </h1><br>


  <%= render "part_row", part: @part, order_item: @order_item %>

  <div class="well">
  <div class="row">

    <div class="col-xs-8">
      description: <%= @part.description%>
    </div>
    <div class="col-xs-4">
          Category: <%=@part.category.name%>
        </div>
        <%= form_for [@part, Comment.new], remote: true do |f|%>
        <div>
          <%= f.text_area :content %>
          <%= f.submit "Post Comment"%>
        </div>
        <%end%>

        <ul class="comments">
          <%= render @part.comments%>
        </ul>
    </div>
  </div>
  <%= link_to "Back to Parts", parts_path%>
</div>
