<h1>Payment Attempts</h1>
<% flash[:alert]="unauthorized access"%>
<% if current_user.admin? %>
<div class="well">
</div>
<% if !flash[:notice].blank? %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Last 4</th>
    <th>Amount</th>
    <th>Succeeded?</th>
    <th>Authorization Code</th>
  </tr>
  <% if @orders.size > 0 %>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.last4 %></td>
        <td><%= number_to_currency order.amount %></td>
        <td><%= order.success == true ? "Yes" : "No" %></td>
        <td><%= order.authorization_code %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5">No payments have been attempted.</td>
    </tr>
  <% end %>
</table>
<%end%>
