<!DOCTYPE html>
<html>
<head>
  <title>JmrWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless current_user%><%= link_to "Sign up", signup_path %><%end%>
  <% unless current_user %> <%= link_to "Log In", login_path %> <%end%>
  <% if current_user%> <%= link_to "Hello, #{current_user.first_name}", user_path(id: current_user.id)%> <%end%>
  <% if facebook_user%> <%= link_to "#{facebook_user.name}", user_path(id: facebook_user.id)%> <%end%>
  <% if current_user%> <%= link_to "Log Out", logout_path%><%end%>
  <% unless current_user %><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"%><%end%>

  <title>ShoppingCartExample</title>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% if request.ssl? %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
<% else %>
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
<% end %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= link_to "My Store", root_path %></h1>
    </div>
    <div class="col-xs-6 text-right">
      <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
    </div>
  </div>
  <hr>
<%= yield %>

</body>
</html>
