<!DOCTYPE html>
<html>
<head>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <title>JmrWeb</title>

  <% if request.ssl? %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= javascript_include_tag :application %>

  <%= csrf_meta_tags %>
</head>
<body>


  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div >
          <ul class="nav navbar-nav">

    </ul>
  </li>

</div>

        <ul class="nav navbar-nav">
          <li><% unless current_user%><%= link_to "Sign up", signup_path %><%end%></a>
          <li><% unless current_user %> <%= link_to "Log In", login_path %> <%end%>
            <% if current_user%> <%= link_to "Hello, #{current_user.first_name}", user_path(id: current_user.id)%> <%end%>
            <% if facebook_user%> <%= link_to "#{facebook_user.name}", user_path(id: facebook_user.id)%> <%end%></a>
          <li class=""> <% if current_user%> <%= link_to "Log Out", logout_path%><%end%>
          </li>
          </a></li>
          <li><% unless current_user %><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"%><%end%></a>
          </li>

          <li class="">
              <%= link_to "Parts", parts_path%>
            </li>

      </div>
    </div>
  </nav>



<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= link_to "JMR Garage", root_path %></h1>
    </div>
    <% if current_user && current_user.cart%>
    <div id="cart">
      <%= render current_user.cart%>
    </div>
    <%end%>
  </div>
  <hr>



<%= yield %>

</body>
</html>
